.App {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}


button {
  background: none;
  border: 2px solid #fff;
  padding: 8px 14px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s;
}

button:hover {
  background: #c23866;
  color: #fff;
}


.card-grid {
  margin-top: 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}


@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 600px) {
  .App {
    margin-top: 20px;
  }

  h1 {
    font-size: 1.7rem;
  }

  button {
    font-size: 0.9rem;
    padding: 6px 10px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media (max-width: 400px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
